.background {
    background-color:#6f00ff;
    height:100vh;
    width: auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-subcontainer, .content-subcontainer-row {
    color:#F9FAF8;
}

.content-subcontainer {
    flex-direction: column;
}

#name {
    font-size:108px;
    text-align:left;
    margin-bottom: 0px;
    padding-bottom: 4px;
    font-weight: 900;
}

#title {
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    padding-top: 4px;
}

.content-subcontainer-row {
    justify-content: space-around;
    display: flex;
}

.contact-item {
    font-size: 36px;
    color: #F9FAF8;
    font-weight: 900;
    text-decoration: underline;
}

.list-item {
    padding: 8px;
    margin: 16px;
}

.img-icon {
    width: auto;
    height: 64px;
    margin-right:4px;
}

.contact-item:hover {
    color: grey;
}