.bg {
    display: block;
    width: 100%;
    height: auto;
}

.top-content {
    position: relative;
}

.top-content-container {
    justify-content: flex-start;
    align-items:flex-start;
    display: flex;
    flex-direction:column;
    position: absolute;
    top: 0;
    left: 0;
    right: 5;
    bottom: 0;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 500px;
    margin-top: 32px;
    margin-left: 24px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #F9FAF8;
    padding: 16px;
    height:fit-content
}

.h4top, .h3top {
    text-align: left;
}

.h3top {
    font-size: 48px;
    margin-top: 8px;
    padding-top: 8px;
}

.h4top {
    font-size: 32px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.top-button {
    align-self:flex-start;
    background-color: #6F00FF;
    border-radius: 12px;
    width: 212px;
    height: 64px;
    border: none;
    flex: none;
    margin-right: 0px;
    font-size: 24px;
    color:#F9FAF8;
    font-weight:900;
    margin-top: 32px;
}

.top-button:hover {
    color:grey;
}

.middle-content {
    background-color: #131628;
}

.p-middle, .p-bottom {
    font-size: 18px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    margin-top: 8px;
    padding-top: 4px;
}

.h3white, .h3black {
    font-size: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.h3white {
    color:#F9FAF8;
    align-self:center;
}

.h3black {
    color:black
}

.middle-content-container {
    color:#F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    max-width: 600px;
    padding-left: 48px;
    margin-left: 48px;
    margin-top: 32px;
    margin-bottom: 64px;
}

h4 {
    margin-bottom: 4px;
    padding-bottom: 4px;
    font-size: 20px;
}

.bottom-content {
    padding: 32px;
    margin-bottom: 32px;
}